<!DOCTYPE html>
<html>
<head>
	<base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>TODO</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-ui-router.min.js"></script>
	<script src="/js/todo.js"></script>
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>
<body ng-app="todoApp" style="padding-top:20px;">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" ui-sref="todos">Todo</a>
	<ul class="nav navbar-nav navbar-right">
		<li ng-if="isLogin"><a ui-sref="login">登录</a></li>
		<li ng-if="isLogin"><a ui-sref="reg">注册</a></li>
		<li ng-if="isLogout"><a ng-click="logout()">退出</a></li>
	</ul>
	<div class="clearfix"></div>
  </div><!-- /.container-fluid -->
</nav>
<div ui-view></div>
</body>
</html>